:{$PORT:80} {
    encode zstd gzip

    handle /api/* {
        root * /app
        try_files {path} =404
        php_server
    }

    handle {
        root * /app/public
        php_server
    }
}

